.container {
    max-width: 800px;
    background-color: #F1F1F1;
    padding: 15px;
    margin-top: 25px;
    border-radius:7px;
    border: 1px #663399;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #555555; }
th:first-child,
td:first-child {
    padding-left: 0; }
th:last-child,
td:last-child {
    padding-right: 0; }

.th-right,
.td-right {
    text-align: right;
}

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="text"],
select {
    border-color: #33C3F0;
}

input[type="email"]:focus,
input[type="text"]:focus,
select:focus {
    border: 1px solid #663399;
    outline: 0;
}

.logo-text {
    color: #0FA0CE;
    font-weight: bold;
}

#expenseAmount {
    text-align: right;
}